<ion-header>
    <ion-navbar primary>
        <ion-title>Enter Players</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <ion-list>

  <ion-item>
    <ion-label floating>Enter Player 1</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Enter Player 2</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

</ion-list>





</ion-content>

<ion-footer>
    <ion-toolbar>
        <button full (click)="submitWord()">Start Game</button>
    </ion-toolbar>
</ion-footer>