/*.toast-message { 
    font-family: Helvetica;
    color: red;
}
*/
 
.invalid-toast > div {
    background: red; 
}

.invalid-toast > div > div > button > span {
    color: black;
}

.correct-toast > div {
    background: green;
}

.correct-toast > div > div > button > span {
    color: white;
}



